RESEND_API_KEY=""

# The destination email address that will receive the contact form messages
CONTACT_EMAIL=""

# The email address (and sender name) that will appear as the sender
RESEND_FROM_EMAIL=""